<footer>
  <div class="footer-inner">
    <div class="footer-menu">
      <ul>
        <li><a href="https://www.facebook.com/pages/Colorgy/1529686803975150">關於我們</a></li>
        <li><a href="https://www.facebook.com/pages/Colorgy/1529686803975150">聯絡我們</a></li>
        <li><a href="https://www.facebook.com/pages/Colorgy/1529686803975150">發落我們</a></li>
      </ul>
    </div>
    <div class="company-rights">
      <p><small><a href="https://github.com/colorgy/Core">網站原始碼 ＠Github</a> - © Colorgy 2015</small></p>
    </div>
  </div>
</footer>
