<footer>
  <div class="footer-inner">
    <div class="footer-menu">
      <ul>
        <li><a href="#">關於我們</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">發落我們</a></li>
      </ul>
    </div>
    <div class="company-rights">
      <p><small><a href="#">網站原始碼 ＠Github</a> - © Colorgy 2015 - 米斯克科技股份有限公司 提供</small></p>
    </div>
  </div>
</footer>
